.container {
  max-width: 500px;
  margin: 20px auto 0 auto;
}

.h-full {
  height: 100vh;
}

.w-full {
  width: 100% !important;
}

.pointer {
  cursor: pointer !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-form {
  width: 300px;
}

.app-form button {
  cursor: pointer;
  border: 1px solid #eeeeee;
  padding: 6px;
  border-radius: 5px;
  font-weight: bold;
  display: block;
  width: 100%;
  margin-top: 15px;
}

.app-form .group {
  margin-bottom: 10px;
}

.app-form .group input,
.app-form .group textarea {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 6px;
  width: 100%;
}

.app-form .group label,
.app-form .group input {
  width: 100%;
  display: block;
  margin-bottom: 5px;
}

.section-title {
  text-align: center;
}

.loading {
  display: block;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.error {
  display: block;
  text-align: center;
  margin: 20px;
  padding: 20px;
  color: red;
}

.success {
  display: block;
  text-align: center;
  margin: 20px;
  padding: 20px;
  color: green;
}

.post-list {
  margin-top: 20px;
}

.post-list .post .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-list .post .header button {
  background: transparent;
  color: red;
  border: none;
  cursor: pointer;
}

.post-list .post h4 {
  margin: 0;
}

.tag {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 3px;
  margin-right: 5px;
}

.post-list .post {
  border-radius: 5px;
  border: 1px solid #efefef;
  padding: 15px;
  margin-bottom: 20px;
}

.post-list .post .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-list .post .meta button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.post-list .post .footer small {
  margin-left: auto;
  margin-right: 10px;
  color: #9a9a9a;
}

.post-list .post .meta b {
  margin-right: 10px;
  color: #000;
}

.post-list .post .meta > small {
  margin-right: auto;
}

.post-list .post .meta div small {
  margin-right: 10px;
}

.post-list .post .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: #9a9a9a;
}

.load-more {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.load-more button {
  cursor: pointer;
  border: 1px solid #eeeeee;
  padding: 6px;
  border-radius: 5px;
  font-weight: bold;
}

header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  padding: 0 20px;
  border-bottom: 1px solid #eeeeee;
}

header.header .user {
  display: flex;
  align-items: center;
}

header.header .user img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #000;
}

header.header .button {
  cursor: pointer;
  border: 1px solid #eeeeee;
  padding: 6px;
  border-radius: 5px;
  font-weight: bold;
}

header.header .button-action {
  text-decoration: none;
  color: #ffffff;
  background-color: #0081ff;
  border: none;
  margin-left: auto;
  margin-right: 15px;
}

header.header .button-secondary {
  text-decoration: none;
  color: #0081ff;
  border: none;
  margin-right: auto;
  margin-left: 15px;
}

.comment {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #efefef;
  padding: 10px;
  margin-bottom: 10px;
}

.comment .user {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
}

.comment p {
  margin: 0;
}

.chat-container {
  display: flex;
}

.chat-container .user-list {
  flex-basis: 30%;
  border-right: 1px solid #eeeeee;
  height: calc(100vh - 54px);
}

.chat-container .user-list .user {
  border-bottom: 1px solid #eeeeee;
  padding: 15px 20px;
  display: flex;
  text-decoration: none;
  align-items: center;
  color: black;
}

.chat-container .user-list .user.active {
  background-color: #dfdfdf;
}

.chat-container .user-list .user .user-info {
  position: relative;
}

.chat-container .user-list .user .unread {
  position: absolute;
  top: 5px;
  right: -140px;
  background-color: #ff3d57;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
}

.chat-container .user-list .user .image {
  margin-right: 10px;
}

.chat-container .user-list .user img {
  max-width: 100%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.chat-container .user-list .user h4 {
  margin: 0;
}

.chat-container .message-list {
  flex-basis: 70%;
  height: calc(100vh - 54px);
}

.chat-container .messages {
  list-style-type: none;
  padding: 0;
  height: calc(100% - 50px);
  margin: 0;
  padding: 10px;
  overflow-y: auto;
}

.send-message-form {
  width: 100%;
  display: flex;
  max-height: 100px;
}

.send-message-form input {
  border: 1px solid #efefef;
  flex-grow: 1;
  height: 50px;
}

.send-message-form button {
  flex-shrink: 1;
  height: 30px;
  padding: 10px 20px;
  border: none;
  background-color: #0081ff;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-message-form button:disabled {
  background-color: rgb(180, 180, 180);
}

.message {
  padding: 10px;
  border-radius: 3px;
  max-width: 300px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 5px 0;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 5px 0;
}

.left small,
.right small {
  color: #8697a8;
  font-size: 12px;
}

.left .message {
  background-color: #0081ff;
  color: white;
}

.right .message {
  background-color: #f8fafb;
}

.h-chat {
  height: calc(100% - 50px);
}
